:root {
  --breakpoint: 600px;
}

@media (min-width: var(--breakpoint)) {
  
}

.card-content {
  display: flex;
  justify-content: center;
}

.img-custom {
  width: 300%;      
  max-width: 380px; 
  height: 220px;  
}
  ion-button[color="dark"]{
    text-transform:initial;
  }

  .custom-button {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    margin-top: -20px;
    white-space: nowrap;
    max-width: 100%;
    
  }
  
  ion-content{
    --background: rgb(241, 229, 121);
  }
  html {
    --ion-safe-area-top: 25px;
  }
  
  